<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Summit Database</string>
			<key>Key</key>
			<string>state</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>AK</string>
				<string>CA</string>
				<string>CO</string>
				<string>ID</string>
				<string>HI</string>
				<string>OR</string>
				<string>MT</string>
				<string>NM</string>
				<string>WA</string>
				<string>WY</string>
			</array>
			<key>Values</key>
			<array>
				<string>AK</string>
				<string>CA</string>
				<string>CO</string>
				<string>ID</string>
				<string>HI</string>
				<string>OR</string>
				<string>MT</string>
				<string>NM</string>
				<string>WA</string>
				<string>WY</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>useMetric</string>
			<key>Title</key>
			<string>Use Metric</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>recalibrateOnResume</string>
			<key>Title</key>
			<string>Re Calibrate On Resume</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>useBarometer</string>
			<key>Title</key>
			<string>Use barometer if available</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
